# Xamarin.Android.FSharp.ResourceProvider

trigger:
  - main

pr:
  - main

resources:
  repositories:
  - repository: templates
    type: github
    name: xamarin/yaml-templates
    ref: refs/heads/main
    endpoint: xamarin

variables:
  - group: Xamarin-Secrets
  - group: Xamarin Release

jobs:
- job: build
  displayName: Build macOS
  timeoutInMinutes: 60

  pool:
    vmImage: macOS-latest

  workspace:
    clean: all

  steps:
  - checkout: self
    clean: true

  - task: MSBuild@1
    displayName: msbuild Xamarin.Android.FSharp.ResourceProvider.sln
    inputs:
      solution: $(System.DefaultWorkingDirectory)/Xamarin.Android.FSharp.ResourceProvider.sln
      msbuildArguments: /restore /bl:$(System.DefaultWorkingDirectory)/bin/build.binlog
      configuration: Release

  - task: NuGetCommand@2
    displayName: pack nupkg
    inputs:
      command: pack
      packagesToPack: $(System.DefaultWorkingDirectory)/Xamarin.Android.FSharp.ResourceProvider.nuspec
      packDestination: $(System.DefaultWorkingDirectory)/bin/

  - task: NuGetCommand@2
    displayName: push nupkg
    inputs:
      command: push
      packagesToPush: $(System.DefaultWorkingDirectory)/bin/*.nupkg
      nuGetFeedType: external
      publishFeedCredentials: xamarin-impl public feed
    condition: and(succeeded(), eq(variables['PushToFeed'], 'true'))

  - task: CopyFiles@2
    displayName: copy SignList.xml to artifact
    inputs:
      Contents: SignList.xml
      TargetFolder: $(System.DefaultWorkingDirectory)/bin

  - task: PublishBuildArtifacts@1
    displayName: publish output
    inputs:
      pathToPublish: $(System.DefaultWorkingDirectory)/bin
      artifactName: Xamarin.Android.FSharp.ResourceProvider
    condition: succeededOrFailed()

- template: sign-artifacts/jobs/v2.yml@templates
  parameters:
    artifactName: Xamarin.Android.FSharp.ResourceProvider
    dependsOn: [ 'build' ]

- job: build_windows
  displayName: Build Windows
  timeoutInMinutes: 90
  pool:
    vmImage: windows-latest
  workspace:
    clean: all
  variables:
  - name: Codeql.Enabled
    value: true
  steps:
  - checkout: self
    clean: true

  - task: CodeQL3000Init@0
    displayName: CodeQL 3000 Init
    condition: and(succeeded(), eq(variables['Codeql.Enabled'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/dev/pjc/cqltest'))

  - task: MSBuild@1
    displayName: msbuild Xamarin.Android.FSharp.ResourceProvider.sln
    inputs:
      solution: $(System.DefaultWorkingDirectory)/Xamarin.Android.FSharp.ResourceProvider.sln
      msbuildArguments: /restore /bl:$(System.DefaultWorkingDirectory)/bin/build.binlog
      configuration: Release

  - task: NuGetCommand@2
    displayName: pack nupkg
    inputs:
      command: pack
      packagesToPack: $(System.DefaultWorkingDirectory)/Xamarin.Android.FSharp.ResourceProvider.nuspec
      packDestination: $(System.DefaultWorkingDirectory)/bin/

  - task: CodeQL3000Finalize@0
    displayName: CodeQL 3000 Finalize
    condition: and(succeededOrFailed(), eq(variables['Codeql.Enabled'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/dev/pjc/cqltest'))

  - task: PublishBuildArtifacts@1
    displayName: publish binlog
    inputs:
      pathToPublish: $(System.DefaultWorkingDirectory)/bin/build.binlog
      artifactName: Windows binlog
    condition: succeededOrFailed()
